{% load static %}
<!DOCTYPE html>
<html>

{% csrf_token %}
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>

<body>
    <div class="container">
        <h1>ERP Login</h1>
        <div class="options">
            <a href="student_login.html">Login as Student</a>
            <a href="faculty_login.html">Login as Faculty</a>
            <a href="admin_login.html">Login as Admin</a>
        </div>
    </div>
    
</body>
<script>
            history.pushState(null, null, null);
            window.addEventListener('popstate', function () {
                history.pushState(null, null, null);
        });
  
</script>
</html>